@import './base.css';

* {
  font-family:
    'Nunito',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    sans-serif;
}

#app {
  width: 100%;
  height: 100vh;
}

body {
  margin: 0;
  padding: 0;
}
